html, * {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato';
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

#fullsection {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.top-section {
  height: 750px;
  background-color: #767676;
}

@media only screen and (max-width: 991.98px) {
  .top-section {
    height: 660px;
  }
}

@media only screen and (max-width: 767.98px) {
  .top-section {
    height: 400px;
  }
}

@media only screen and (max-width: 575.98px) {
  .top-section {
    height: 780px;
  }
}

header {
  margin: 0px;
}

header nav .navbar-toggler {
  border: none;
}

header nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  color: white;
  padding-top: 10px;
}

@media only screen and (max-width: 991.98px) {
  header nav .navbar-nav {
    width: 400px;
  }
}

header nav .navbar-nav .navbar-brand {
  border: 1px solid white;
  height: 90px;
  width: 100px;
}

header nav .navbar-nav .nav-item {
  color: white;
}

@media only screen and (max-width: 991.98px) {
  header nav .navbar-nav .nav-item {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 767.98px) {
  header nav .navbar-nav .nav-item {
    margin-left: -14px;
  }
}

header nav .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  margin-right: 15px;
}

@media only screen and (max-width: 991.98px) {
  header nav .navbar-nav .nav-item .nav-link {
    width: 150px;
  }
}

header nav .navbar-nav .nav-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav .navbar-nav .hello-guest {
  float: right;
  font-size: 25px;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 991.98px) {
  header nav .navbar-nav .hello-guest {
    position: absolute;
    top: 40;
    right: 70;
    float: right;
    text-align: right;
  }
}

@media only screen and (max-width: 767.98px) {
  header nav .navbar-nav .hello-guest {
    font-size: 25px;
    color: #fcee21;
    top: 70;
  }
}

header nav .navbar-nav .hello-guest:hover {
  -webkit-transform: none;
          transform: none;
}

.header-contents {
  margin-top: 130px;
  height: 300px;
  padding-top: 20px;
}

@media only screen and (max-width: 991.98px) {
  .header-contents {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-contents {
    padding: 30px;
    margin-top: 70px;
  }
}

@media only screen and (max-width: 575.98px) {
  .header-contents {
    margin-top: 30px;
  }
}

.header-contents .header-title {
  color: #fcee21;
  font-weight: 200;
  font-size: 90px;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.2;
  font-family: 'Lato';
}

@media only screen and (max-width: 1199.98px) {
  .header-contents .header-title {
    font-size: 60px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-contents .header-title {
    font-size: 40px;
  }
}

.header-contents .header-title span {
  font-weight: 1000;
  font-size: 70px;
  color: black;
  border: 5px solid white;
  padding: 10px;
  border-radius: 4px;
  font-style: italic;
  margin-left: 5px;
}

@media only screen and (max-width: 1199.98px) {
  .header-contents .header-title span {
    padding: 2px 7px;
  }
}

@media only screen and (max-width: 991.98px) {
  .header-contents .header-title span {
    font-size: 50px;
  }
}

.header-contents .header-title:nth-child(2) {
  margin-top: 15px;
}

.header-contents .header-content {
  margin-top: 20px;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.header-contents .form-link {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 70px;
}

@media only screen and (max-width: 991.98px) {
  .header-contents .form-link {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-contents .form-link {
    margin-top: 40px;
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
}

.header-contents .form-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

@media only screen and (max-width: 991.98px) {
  .fullbody {
    padding-bottom: 40px;
  }
}

.fullbody .fullbody-contents .image-content, .fullbody .fullbody-contents .side-contents {
  margin-top: 30px;
}

@media only screen and (max-width: 767.98px) {
  .fullbody .fullbody-contents .image-content, .fullbody .fullbody-contents .side-contents {
    text-align: center;
  }
}

.fullbody .fullbody-contents .image-content {
  padding: 20px;
}

.fullbody .fullbody-contents .side-image {
  width: 400px;
}

@media only screen and (max-width: 991.98px) {
  .fullbody .fullbody-contents .side-image {
    width: 250px;
  }
}

@media only screen and (max-width: 767.98px) {
  .fullbody .fullbody-contents .sm-rvm {
    display: none;
  }
}

.fullbody .fullbody-contents .side-contents {
  padding: 20px;
  margin-top: 50px;
  position: relative;
}

.fullbody .fullbody-contents .side-contents h6 {
  text-transform: uppercase;
  color: #58595b;
  font-weight: 600;
}

.fullbody .fullbody-contents .side-contents p {
  width: 400px;
  margin-top: 15px;
}

@media only screen and (max-width: 991.98px) {
  .fullbody .fullbody-contents .side-contents p {
    font-size: 13px;
    width: 300px;
  }
}

@media only screen and (max-width: 767.98px) {
  .fullbody .fullbody-contents .side-contents p {
    text-align: center;
    margin: auto;
  }
}

@media only screen and (max-width: 575.98px) {
  .fullbody .fullbody-contents .side-contents p {
    width: 250px;
  }
}

.fullbody .fullbody-contents .side-contents .form-link {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 50px;
  background-color: #58595b;
}

.fullbody .fullbody-contents .side-contents .form-link:hover {
  color: #58595b;
  background-color: white;
  border: 2px solid #58595b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.fullbody .fullbody-contents .triangle, .fullbody .fullbody-contents .triangle1, .fullbody .fullbody-contents .triangle2 {
  position: absolute;
  z-index: 1;
  width: 250px;
}

.fullbody .fullbody-contents .triangle {
  right: 200px;
  bottom: -300;
}

@media only screen and (max-width: 767.98px) {
  .fullbody .fullbody-contents .triangle {
    display: none;
  }
}

.fullbody .fullbody-contents .triangle2 {
  bottom: 10;
  left: 300;
}

@media only screen and (max-width: 767.98px) {
  .fullbody .fullbody-contents .triangle2 {
    display: none;
  }
}

.know-us {
  padding-top: 80px;
  background: #F1F1F3;
}

@media only screen and (max-width: 991.98px) {
  .know-us {
    padding-top: 40px;
  }
}

.know-us .knowus-contents {
  padding: 40px 0px;
}

.know-us .knowus-contents .knowus-title {
  font-weight: 900;
  text-decoration: underline;
  height: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 575.98px) {
  .know-us .knowus-contents .knowus-title {
    height: 10px;
    font-size: 20px;
  }
}

.know-us .knowus-contents .knowus-cards {
  margin: 50px;
  padding: 20px 33px;
}

@media only screen and (max-width: 1199.98px) {
  .know-us .knowus-contents .knowus-cards {
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 575.98px) {
  .know-us .knowus-contents .knowus-cards {
    margin: 10px;
  }
}

.know-us .knowus-contents .knowus-cards .knowus-card {
  display: inline-block;
  height: 250px;
  width: 300px;
  color: #58595b;
  background-color: #ffff;
  margin-bottom: 30px;
  margin-right: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding: 30px 20px 5px;
  border-radius: 3px;
  -webkit-box-shadow: 4px -1px 19px -21px #525152;
  box-shadow: 4px -1px 19px -21px #525152;
}

@media only screen and (max-width: 1199.98px) {
  .know-us .knowus-contents .knowus-cards .knowus-card {
    height: 240px;
    width: 250px;
  }
}

@media only screen and (max-width: 575.98px) {
  .know-us .knowus-contents .knowus-cards .knowus-card {
    padding: 40px 10px 3px;
  }
}

.know-us .knowus-contents .knowus-cards .knowus-card:hover {
  background-color: #58595b;
  color: #fcee21;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.know-us .knowus-contents .knowus-cards .knowus-card h3 {
  font-size: 4em;
}

@media only screen and (max-width: 767.98px) {
  .know-us .knowus-contents .knowus-cards .knowus-card h3 {
    font-size: 3em;
  }
}

.know-us .knowus-contents .knowus-cards .knowus-card i {
  margin-bottom: 10px;
}

.about-us {
  background-image: url(/image/cave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}

.about-us .mission {
  background-color: #58595bb0;
}

.about-us .mission .aboutus-contents, .about-us .mission .aboutus-right-contents {
  margin-top: 50px;
  height: 400px;
  padding: 15px;
  font-family: "Source Sans Pro Light";
}

@media only screen and (max-width: 767.98px) {
  .about-us .mission .aboutus-contents, .about-us .mission .aboutus-right-contents {
    margin-top: 10px;
    height: auto;
  }
}

.about-us .mission .aboutus-contents .aboutus-title, .about-us .mission .aboutus-right-contents .aboutus-title {
  font-weight: 600;
  text-transform: capitalize;
  color: #fcee21;
  font-size: 50px;
}

@media only screen and (max-width: 991.98px) {
  .about-us .mission .aboutus-contents .aboutus-title, .about-us .mission .aboutus-right-contents .aboutus-title {
    font-size: 20px;
  }
}

.about-us .mission .aboutus-contents .aboutus-body, .about-us .mission .aboutus-right-contents .aboutus-body {
  margin-top: 20px;
  color: white;
  width: 400px;
  line-height: 20px;
  font-weight: 500;
  font-size: 18px;
  word-spacing: 2px;
}

@media only screen and (max-width: 991.98px) {
  .about-us .mission .aboutus-contents .aboutus-body, .about-us .mission .aboutus-right-contents .aboutus-body {
    font-size: 14px;
    width: 300px;
  }
}

@media only screen and (max-width: 575.98px) {
  .about-us .mission .aboutus-contents .aboutus-body, .about-us .mission .aboutus-right-contents .aboutus-body {
    width: 260px;
  }
}

footer .footer-contents {
  height: 150px;
}

footer .footer-contents .copy, footer .footer-contents .social-media, footer .footer-contents .logo {
  padding: 20px;
  color: #767676;
  margin-top: 15px;
}

footer .footer-contents .copy b, footer .footer-contents .copy span, footer .footer-contents .social-media b, footer .footer-contents .social-media span, footer .footer-contents .logo b, footer .footer-contents .logo span {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Source Sans Pro Light";
}

@media only screen and (max-width: 767.98px) {
  footer .footer-contents .copy b, footer .footer-contents .copy span, footer .footer-contents .social-media b, footer .footer-contents .social-media span, footer .footer-contents .logo b, footer .footer-contents .logo span {
    font-size: 13px;
  }
}

footer .footer-contents .copy a, footer .footer-contents .social-media a, footer .footer-contents .logo a {
  text-decoration: underline;
  color: #767676;
  font-family: "Source Sans Pro Light";
}

footer .footer-contents .copy a:hover, footer .footer-contents .social-media a:hover, footer .footer-contents .logo a:hover {
  text-decoration: none;
  color: #fcee21;
}

footer .footer-contents .social-media {
  text-align: right;
}

@media only screen and (max-width: 767.98px) {
  footer .footer-contents .social-media {
    padding-top: 50px;
  }
}

footer .footer-contents .social-media i {
  margin-bottom: 17px;
  margin-right: 30px;
}

footer .footer-contents .social-media a {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
}

@media only screen and (max-width: 767.98px) {
  footer .footer-contents .social-media a {
    font-size: 14px;
  }
}

footer .footer-contents .social-media a:hover {
  color: black;
}
/*# sourceMappingURL=index.css.map */